//-------------------------------------
//-- Form
//-------------------------------------

//-- Placeholder
input::placeholder {
	color: lighten($common-text-color, 50%);
	font-style: italic;
}


//-- Textfields
#{$nwayo-textfields-selector}, textarea, select {
	//border-radius: 0;
	line-height: 1;
	//appearance: none;
}

textarea, textarea[rows] {
	//
}


//-- Reset select
/**
@include nwayo-select-reset-mixin {
	background-image: none;
}
select {
	box-sizing: border-box;
	border-radius: 0;
	appearance: none;
}
/**/


//-- File upload
/**
input[type="file"] {
	//@include form-element;
	height: auto;

	@include nwayo-input-file-button-mixin {
		//@include button();
		margin: 0;
	}
}
/**/


//-- Radio / Checkbox
/**
$_choice-input-size: rem-calc(18);
$_choice-input-selection-size: rem-calc(8);
$_choice-input-position-size: ($_choice-input-size - $_choice-input-selection-size) / 2;
$_choice-input-margin-size: rem-calc(10);

input[type="checkbox"], input[type="radio"] {
	position: absolute;
	clip: rect(rem-calc(1), rem-calc(1), rem-calc(1), rem-calc(1));

	+ label {
		position: relative;
		padding-left: $_choice-input-size + $_choice-input-margin-size;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			width: $_choice-input-size;
			height: $_choice-input-size;
			border: rem-calc(1) solid $common-text-color;
			margin-top: rem-calc(1) - ($_choice-input-size / 2);
		}
	}

	&:checked + label::after,
	&:checked + label:hover::after {
		content: '';
		position: absolute;
		top: 50%;
		left: $_choice-input-position-size;
		display: block;
		width: $_choice-input-selection-size;
		height: $_choice-input-selection-size;
		margin-top: rem-calc(1) - ($_choice-input-selection-size / 2);
		background-color: $common-text-color;
	}

	&:focus + label::before {
		outline: rem-calc(1) dotted $common-text-color;
	}
}

input[type="radio"] + label {
	&::before, &::after {
		border-radius: 50%;
	}
}
/**/
