/*----------------------------------------------------------------------------//
// Client : -
//----------------------------------------------------------------------------*/

/*- Base ---------------------------------------------------------------------*/
html {
	background-color:@defaultBgColor;
}
body {
	width:@siteWidth;
	font-family:@defaultFontFamily; font-size:12px; line-height:1.3;
}
a {
	color:@defaultLinkColor; text-decoration:none;

	&:hover {
		text-decoration:underline;
	}
}
 
.Clearer { 
	clear:both;
}
sup {
	padding-bottom:5px;
	font-size:80%; line-height:100%; vertical-align:text-top;
}
div.hr {
	height:1px;
	margin:20px 0;
	background-color:@white;
}
a.Btn {
	@btnHeight:50px;
	@btnLeft:  5px;
	
	position:relative; display:inline-block;
	height:@btnHeight;
	padding:0 0 0 @btnLeft;
	font-size:12px; color:@white; 

	span.left {
		position:absolute; display:block;
		left:0; top:0;
		width:@btnLeft; height:@btnHeight;
		background:transparent @imgBtn left top no-repeat;
		cursor:pointer;
	}
	span.text {
		display:block;
		height:20px;
		padding:15px;
		background:transparent @imgBtn right top no-repeat;
		cursor:pointer;
	}
}

/*- Header -------------------------------------------------------------------*/
#Header {

	/*- Fixed Nav --------------------------------------------------------*/
	nav.Fixed {

	}

}

/*- Main Menu ----------------------------------------------------------------*/
#MainMenu {

}


/*- Content ------------------------------------------------------------------*/
#Content {

}


/*- Lateral Column -----------------------------------------------------------*/
#LateraleCol {

}

/*- Footer -------------------------------------------------------------------*/
#Footer {

	
}











/*- Editable -----------------------------------------------------------------*/
.Editable {
	font-size:12px; line-height:1.5;


	h1 {

	}
	h2 {

	}
	h3 {

	}
	h4,
	h5,
	h6 {

	}
	p {
		margin-bottom:1em;
	}
	.TextePetit {
		font-size:80%;
	}
	img.ImageContour {
		border:1px solid @black;
	}
	img.ImageGauche {
		float:left;
		margin:0 15px 5px 0;
	}
	img.ImageDroite {
		float:right;
		margin:0 0 5px 15px;
	}
	ul {
		margin:0 0 1em 15px;
		
		li {
			list-style:disc outside @imgPuce;
			padding:0 0 5px 0;
		}
	}

	ol {
		margin:0 0 1em 24px;

		li {
			list-style:decimal outside;
			padding:0 0 5px 0;
		}
	}
	
	table.Tableau {

		td {
			vertical-align:top;
		}
		td.CelluleTitre {

		}
		td.CelluleSousTitre {

		}
		td.CelluleAlternative {

		}

	}
}
