/*------------------------------------------------------------------------------------//
// Client : -
//------------------------------------------------------------------------------------*/

/*- Fonts -------------------------------------------------------------------*/
/*
@font-face {
	font-family: 'MyFontFamily';
	src: url('myfont-webfont.eot');                           // IE9 Compat Modes
	src: url('myfont-webfont.eot?iefix') format('eot'),       // IE6-IE8
	     url('myfont-webfont.woff') format('woff'),           // Modern Browsers
	     url('myfont-webfont.ttf')  format('truetype'),       // Safari, Android, iOS
	     url('myfont-webfont.svg#svgFontName') format('svg'); // Legacy iOS
}
*/


/*- Général -------------------------------------------------------------------*/
@black: #000;
@white: #fff;


@siteWidth:         960px;
@defaultBgColor:    #ccc;
@defaultFontColor:  #666;
@defaultFontFamily: Tahoma, Verdana, Arial, Helvetica, Sans-serif;

@defaultLinkColor:  #00c;
@shareLinkColor: #ccc;

@imgPuce:     url(/images/Puce_Liste.gif)
@imgBtn:      url(/images/Btn.png);
@imgMultiBg:  url(/images/Bg_Multi.png);
@imgMultiIco: url(/images/Ico_Multi.png);
	@imgMultiIcoPosItem1: left    top;
	@imgMultiIcoPosItem2: left -100px;


.ResetLink() {
	color:@defaultFontColor; text-decoration:none;
}

.TitleFont() {
	/* alternate font */
}
