/* +-----------------------------------------
   | Multi-browser rules
   +----------------------------------------- */

/* ----- opacity ----- */
.opacity(@per) {
	@filter: @per*100;

	opacity:@per;
    -moz-opacity:@per;
    -khtml-opacity:@per;
	filter:alpha(opacity=@filter);
}

/* ----- border-radius ----- */
.border-radius(@radius) {
    -webkit-border-radius:@radius;
    -moz-border-radius:@radius;
    border-radius:@radius;
}
.border-top-left-radius(@radius) {
    -webkit-border-top-left-radius: @radius;
    -moz-border-radius-topleft: @radius;
    border-top-left-radius: @radius;
}
.border-top-right-radius(@radius) {
    -webkit-border-top-right-radius: @radius;
    -moz-border-radius-topright: @radius;
    border-top-right-radius: @radius;
}
.border-bottom-left-radius(@radius) {
    -webkit-border-bottom-left-radius: @radius;
    -moz-border-radius-bottomleft: @radius;
    border-bottom-left-radius: @radius;
}
.border-bottom-right-radius(@radius) {
    -webkit-border-bottom-right-radius: @radius;
    -moz-border-radius-bottomright: @radius;
    border-bottom-right-radius: @radius;
}
.border-top-radius(@radius) {
	.border-top-left-radius(@radius);
	.border-top-right-radius(@radius);
}
.border-bottom-radius(@radius) {
	.border-bottom-left-radius(@radius);
	.border-bottom-right-radius(@radius);
}
.border-left-radius(@radius) {
	.border-top-left-radius(@radius);
	.border-bottom-left-radius(@radius);
} 
.border-right-radius(@radius) {
	.border-top-right-radius(@radius);
	.border-bottom-right-radius(@radius);
} 


/* ----- box-shadow ----- */
.box-shadow(@shadow_x, @shadow_y, @shadow_size, @shadow_rad, @shadow_color) {
    -webkit-box-shadow:@shadow_x @shadow_y @shadow_size @shadow_rad @shadow_color;
    -moz-box-shadow:@shadow_x @shadow_y @shadow_size @shadow_rad @shadow_color;
    box-shadow: @shadow_x @shadow_y @shadow_size @shadow_rad @shadow_color;
}

.box-shadow-reset() {
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    box-shadow:none !important;
}


/* ----- text-shadow ----- */
.text-shadow(@tshadow_h, @tshadow_v, @tshadow_blur, @tshadow_color) {
	-webkit-text-shadow:@tshadow_h @tshadow_v @tshadow_blur @tshadow_color;
	-moz-text-shadow:@tshadow_h @tshadow_v @tshadow_blur @tshadow_color;
	text-shadow:@tshadow_h @tshadow_v @tshadow_blur @tshadow_color;
}


/* ----- transition ----- */
.transition(@range, @time, @ease) {
    -moz-transition: @range @time @ease;
    -webkit-transition: @range @time @ease;
    -o-transition: @range @time @ease;
    transition: @range @time @ease;
}


/* ----- transformations ----- */
.transform_skew(@angle_x, @angle_y) {
    -webkit-transform: skew(formatstring("{0}deg", @angle_x), formatstring("{0}deg", @angle_y));
    -moz-transform: skew(formatstring("{0}deg", @angle_x), formatstring("{0}deg", @angle_y));
    -o-transform: skew(formatstring("{0}deg", @angle_x), formatstring("{0}deg", @angle_y));
    -ms-transform: skew(formatstring("{0}deg", @angle_x), formatstring("{0}deg", @angle_y));
    transform: skew(formatstring("{0}deg", @angle_x), formatstring("{0}deg", @angle_y));
}
.transform_scale(@scale_x) {
    -webkit-transform: scale(@scale_x);
    -moz-transform: scale(@scale_x);
    -o-transform: scale(@scale_x);
    -ms-transform: scale(@scale_x);
    transform: scale(@scale_x);
}
 
.transform_rotate(@angle) {
    -webkit-transform: rotate(formatstring("{0}deg", @deg));
    -moz-transform: rotate(formatstring("{0}deg", @deg));
    -o-transform: rotate(formatstring("{0}deg", @deg));
    -ms-transform: rotate(formatstring("{0}deg", @deg));
    transform: rotate(formatstring("{0}deg", @deg));
}
 
.transform_translate(@move_x, @move_y) {
    -webkit-transform: translate(@move_x, @move_y);
    -moz-transform: translate(@move_x, @move_y);
    -o-transform: translate(@move_x, @move_y);
    -ms-transform:translate(@move_x, @move_y);
    transform: translate(@move_x, @move_y);
}

/*
.background_gradient(@from, @to) {
    background: @from;
    background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
    background-image: -moz-linear-gradient(top, @from, @to);
    filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr='{0}', endColorstr='{1}')", @from, @to);         // IE6,IE7 
    -ms-filter: formatstring("\"progid:DXImageTransform.Microsoft.gradient(startColorStr='{0}', EndColorStr='{1}')\"", @from, @to); // IE8
}
*/

.background_alpha(@color:#000, @opacity:0.5) {
	background-color: rgb(red(@color), green(@color), blue(@color));  /* Fallback */
    background-color: rgba(red(@color), green(@color), blue(@color), @opacity);
}

/* IE6 - 8 */
/*
.ie_background_alpha(@color:#000, @opacity:0.5) {
	background-color: transparent;

    @msOpacity: floor(255 * @opacity);
    @msColorFormat: "#{0}{1}{2}{3}";
    @msColor: formatstring(@msColorFormat, hex(@msOpacity), hex(red(@color)), hex(green(@color)), hex(blue(@color))); 
    @msGradient: "progid:DXImageTransform.Microsoft.gradient(startColorStr={0},EndColorStr={0})";

    filter: formatString(@msGradient, @msColor);
	zoom:1;
}
*/

.background_fullscreen(@img) {
	background: @img no-repeat top left fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/* ----- CUSTOM ----- */
.ReplaceText(@width:auto,@height:auto) {
	display:block; text-indent:-10000px; overflow:hidden;
	width:@width; height:@height;
	text-align:left;
}
.MinHeight(@height:auto) {
	min-height:@height;
	height:auto !important;
	height:@height;
}