//-------------------------------------
//-- Configuration settings
//-------------------------------------

//-- nwayo util
@import 'components/nwayo/styles/util';


$text-color:   $konstan-color-text;
$border-color: $konstan-color-border;
$bg-color:     $konstan-color-bg;

$accent-color: $konstan-current-color-accent;


/**
$section-colorscheme: (
	default: (body:'',               class:'',       base:#888888, lite:#dddddd, dark:#333333),
	alpha:   (body:'.section-alpha', class:'.alpha', base:#880000, lite:#dd0000, dark:#330000),
	beta:    (body:'.section-beta',  class:'.beta',  base:#008800, lite:#00dd00, dark:#003300),
	gamma:   (body:'.section-gamma', class:'.gamma', base:#000088, lite:#0000dd, dark:#000033),
);
/**/



//-- Fonts
/**
@include load-font-mixin('kreon',   'kreon-regular-webfont', 'common');
@include load-font-mixin('kreon',   'kreon-light-webfont',   'common', $weight:$light-weight);
@include load-font-mixin('kreon',   'kreon-bold-webfont',    'common', $weight:bold);
@include load-font-mixin('kreon',   'kreon-italic-webfont',  'common', $style:italic);
@include load-font-mixin('icomoon', 'icomoon',               'common');
/**/

$text-font: sans-serif;
$alt-font:  'kreon', $text-font;

$text-base-weight:    $light-weight;
$text-fat-weight:     $normal-weight;
$text-fatter-weight:  $medium-weight;
$text-fattest-weight: $bold-weight;




/**
@mixin ico-font {
	font-family: 'icomoon';
	font-weight: $bold-weight !important;
	-webkit-font-smoothing: antialiased !important;
	font-style: normal !important;
	text-transform: none !important;
	line-height: 1 !important;
	font-variant: normal !important;
}
$ico-music-char:    'm';
$ico-settings-char: 's';
$ico-warning-char:  'w';
/**/



//-- Images
/**

// Normal
@mixin misc1-image { @include bg-image-mixin('misc1.png', 'common'); }
@mixin logo1-image { @include bg-image-mixin('logo1.png', 'foobar'); }

// High-density
@mixin misc2-image { @include bg-image-mixin('misc@2x.png', 'common'); }

// Inline
@mixin misc3-image { @include bg-image-mixin('misc3.png', 'common', $inline:true); }
@mixin icon3-image { @include bg-image-mixin('icon3.png', 'foobar', $inline:true); }

// Scalable
@mixin icon4-image { @include scalable-icon-mixin('icon4.svg', 'foobar'); }

/**/

//@mixin misc2-image { @include bg-image-mixin('nwayo.svg', 'common'); }
//@mixin misc3-image { @include scalable-icon-mixin('test.svg', 'common', $color:$debug-orange); }
//@mixin misc4-image { @include scalable-icon-mixin('test.svg', 'common', $color:$debug-green); }


//-- Transitions
$hover-transition:     $konstan-transition-hover * 1ms;
$animation-transition: $konstan-transition-animation * 1ms;







//-- Mixins
//-------------------------------------


//-- Headings
@mixin title-styles {
	/* ... */
}

@mixin subtitle-styles {
	/* ... */
}



//-- Editable content styles
@mixin editable-styles {
	h1 {
		@include title-styles;
	}

	h2 {
		@include subtitle-styles;
	}

	h3 {
		/* ... */
	}

	h4 {
		/* ... */
	}

	h5 {
		/* ... */
	}

	h6 {
		/* ... */
	}

	.small {
		font-size: .8em;
	}

	p {
		margin-bottom: 1em;
	}

	ul {
		/* ... */
	}

	ol {
		/* ... */
	}

	table.table {
		td {
			vertical-align: top;
		}
	}
}
