//-------------------------------------
//-- Util
//-------------------------------------

a[href="#TODO"] {
	$todopatch-color: #ee2c2c;
	color: $todopatch-color !important;
	font-weight: $bold-weight !important;
	text-decoration: underline !important;
}


// powerTip

// No control over selector
// scss-lint:disable IdSelector
//#powerTip {
//	position: absolute;
//	z-index: 2147483647;
//	display: none;
//}
// scss-lint:enable IdSelector
