//-------------------------------------
//-- nwayo - Mixins - Core
//-------------------------------------

//-- Background image
@mixin nwayo-bg-image-styles($file, $component, $inline:false, $color:false) {

	// URI
	$uri: '';
	@if $inline {
		$inline-image-path: nwayo-assets-path($file, $component, 'inline');

		@if str-index($file, '.svg') {
			$svg: nwayodart-read-file($inline-image-path);

			@if $color {

				// Single color
				@if type-of($color) == 'color' {
					$svg: nwayo-color-replace($svg, $nwayo-svg-replacement-1-color, $color);

					// List
				} @else if type-of($color) == 'list' {
					@for $i from 1 through length($color) {
						$svg: nwayo-color-replace($svg, nth($nwayo-svg-replacement-colors, $i), nth($color, $i));
					}

					// Hash
				} @else {
					@each $source, $target in $color {
						$svg: nwayo-color-replace($svg, $source, $target);
					}
				}
			}

			$uri: nwayo-svg-data-uri($svg);

		} @else {
			$uri: nwayodart-inline-file($inline-image-path);
		}

	} @else {
		$path: nwayo-build-path($file, $component, images);
		$url:  nwayo-assets-path($file, $component, images);

		// High density
		@if str-index($file, '@2x') {
			@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {  // stylelint-disable-line
				background-image: url($url + nwayo-cacheinvalidator-querystring($path));  // stylelint-disable-line function-url-quotes
			}

			$path: nwayo-str-replace($path, '@2x', '');
			$url:  nwayo-str-replace($url, '@2x', '');
		}

		$uri: url($url + nwayo-cacheinvalidator-querystring($path));  // stylelint-disable-line function-url-quotes
	}

	// Output
	background-image: #{$uri};
}


//-- Scalable icon
@mixin nwayo-scalable-icon-styles($file, $component, $color:false) {
	@include nwayo-bg-image-styles($file, $component, $inline:true, $color:$color);
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}


//-- Scalable icon multicolored states
@mixin nwayo-scalable-icon-colored-states-styles($name, $component, $state:default, $states:()) {
	@include nwayo-scalable-icon-styles($name, $component, $color:map-get($states, $state));
}






//-- Font-face
@mixin nwayo-load-font-styles($name, $filename, $component, $weight:normal, $style:normal) {
	$path:  nwayo-build-path($filename, $component, 'fonts');
	$url:   nwayo-assets-path($filename, $component, 'fonts');
	$woff2: if(nwayodart-file-exists($path + '.woff2'), url($url + '.woff2' + nwayo-cacheinvalidator-querystring($path + '.woff2')) format('woff2') + ',', '');  // stylelint-disable-line function-url-quotes

	@font-face {
		font-family: $name;
		font-weight: $weight;
		font-style: $style;
		src: #{$woff2} url($url + '.woff' + nwayo-cacheinvalidator-querystring($path + '.woff'));  // stylelint-disable-line function-url-quotes
	}
}
