//-------------------------------------
//-- nwayo - Util
//-------------------------------------

a[href='#TODO'] {
	$nwayo-todopatch-color: #ee2c2c;
	color: $nwayo-todopatch-color !important;
	font-weight: $nwayo-black-weight !important;
	text-decoration: underline !important;
}
