/*------------------------------------------------------------------------------------//
// Client : -
//------------------------------------------------------------------------------------*/
@import 'libs/elements';
@import 'libs/abso';

@assetPath: '/theme/assets';
@imgPath:   '@{assetPath}/images';
@fontPath:  '@{assetPath}/fonts';



/*- Fonts ------------------------------------------------------------------*/
/*
@font-face {
	font-family: 'MyFontFamily';
	src: url('@{fontPath}/myfont-webfont.eot');
	src: url('@{fontPath}/myfont-webfont.eot?iefix') format('eot'),
	     url('@{fontPath}/myfont-webfont.woff') format('woff'),
	     url('@{fontPath}/myfont-webfont.ttf')  format('truetype'),
	     url('@{fontPath}/myfont-webfont.svg#svgFontName') format('svg');
}
*/



/*- Base -------------------------------------------------------------------*/
@siteWidth:   960px;
@mobileMedia: ~"only screen and (max-width: 767px)";

@bgColor:   #f8f8f8;
@textColor: #444;
@linkColor: #00c;
@textFont:  sans-serif;

.textFont() { font-family:@textFont; }
.altFont()  { font-family:'Alternate', @textFont; font-weight:normal !important; font-style:normal !important; }



/*- Colors -----------------------------------------------------------------*/
@errorBgColor:   #fee5e1;
@errorTextColor: #c33;
@altColor:       #c00;
@alt2Color:      fade(#0c0,50%);



/*- Images & Sprites -------------------------------------------------------*/
@btnImage: url('@{imgPath}/misc-btn.png');
@bgImage:  url('@{imgPath}/misc-bg.png');
@icoImage: url('@{imgPath}/misc-ico.png');
	@icoItem1Sprite: transparent @icoImage left    top no-repeat;
	@icoItem2Sprite: transparent @icoImage left -100px no-repeat;

.imgImage() { background-image:url('@{imgPath}/misc-image.png'); @media @highdensity { background-image:url('@{imgPath}/misc-image@2x.png'); background-size:100px 100px; } }



/*- Functions --------------------------------------------------------------*/
.AltSomething() {

}



/*- Editable content styles ------------------------------------------------*/
.Editable() {
	h1 {
	}
	
	h2 {
	}

	h3 {
	}

	h4 {
	}

	h5 {
	}

	h6 {
	}

	p {
		margin-bottom:1em;
	}
	.TextePetit {
		font-size:80%;
	}
	img.ImageContour {
		border:1px solid @black;
	}
	img.ImageGauche {
		float:left;
		margin:0 15px 5px 0;
	}
	img.ImageDroite {
		float:right;
		margin:0 0 5px 15px;
	}
	ul {

	}

	ol {

	}
	
	table.Tableau {
		td {
			vertical-align:top;
		}
	}
}