/*----------------------------------------------------------------------------//
// Client : -
//----------------------------------------------------------------------------*/

/*- Base ---------------------------------------------------------------------*/
html {
	background-color:@defaultBg;
}
body {
	// mobile
	// -webkit-text-size-adjust:none; 

	width:@siteWidth;
	font-family:@defaultFamily; font-size:16px; color:@defaultText; line-height:1.3;
}
a {
	color:@defaultLink; text-decoration:none;

	&:hover {
		text-decoration:underline;
	}
}
 

.Clearer { 
	clear:both;
}

.BtnType1 {
	.Btn(16px, 8px, 10px, 8px, 10px, @imgBtn, top, -50px);
	font-size:16px; color:@white;

	&:hover {
		color:@black;
	}
}

.selection() {
	color:@white;
	background-color:@black;
}
::-moz-selection { .selection(); }
::selection      { .selection(); }	





/*- Header -------------------------------------------------------------------*/
#Header {

	/*- Fixed Nav --------------------------------------------------------*/
	nav.Fixed {

	}

}

/*- Main Menu ----------------------------------------------------------------*/
#MainMenu {

}

/*- Content ------------------------------------------------------------------*/
#Content {

}

/*- Lateral Column -----------------------------------------------------------*/
#LateralCol {

}

/*- Footer -------------------------------------------------------------------*/
#Footer {

	
}





form {
	.placeholder() {
		font-style:italic; color:@black + 128;
	}
	input.Placeholder                { .placeholder(); }
	input::-webkit-input-placeholder { .placeholder(); }
	input:-moz-placeholder           { .placeholder(); }
}





/*- Editable -----------------------------------------------------------------*/
.Editable {
	h1 {
	}
	
	h2 {
	}

	h3 {
	}

	h4 {
	}

	h5 {
	}

	h6 {
	}

	p {
		margin-bottom:1em;
	}
	.TextePetit {
		font-size:80%;
	}
	img.ImageContour {
		border:1px solid @black;
	}
	img.ImageGauche {
		float:left;
		margin:0 15px 5px 0;
	}
	img.ImageDroite {
		float:right;
		margin:0 0 5px 15px;
	}
	ul {
		margin:0 0 1em 15px;
		
		li {
			list-style:disc outside @imgBullet;
			padding:0 0 5px 0;
		}
	}

	ol {
		margin:0 0 1em 24px;

		li {
			list-style:decimal outside;
			padding:0 0 5px 0;
		}
	}
	
	table.Tableau {

		td {
			vertical-align:top;
		}
		td.CelluleTitre {

		}
		td.CelluleSousTitre {

		}
		td.CelluleAlternative {

		}

	}
}
