/*----------------------------------------------------------------------------//
// Client : -
//----------------------------------------------------------------------------*/

/*- Base ---------------------------------------------------------------------*/
html {
	background-color:@bgColor;
}
body {
	// mobile
	// -webkit-text-size-adjust:none; 

	width:@siteWidth;
	font-family:@textFont; font-size:16px; color:@textColor; line-height:1.3;
}
a {
	color:@linkColor; text-decoration:none;

	&:hover {
		text-decoration:underline;
	}
}
 

.Clearer { 
	clear:both;
}

.BtnType1 {
	.Btn(16px, 8px, 10px, 8px, 10px, @imgBtn, top, -50px);
	font-size:16px; color:@white;

	&:hover {
		color:@black;
	}
}

.selection()     { color:@white; background-color:@black; }
::-moz-selection { .selection(); }
::selection      { .selection(); }	





/*- Header -------------------------------------------------------------------*/
#Header {

}

/*- Fixed navigation --------------------------------------------------------*/
#FixedNav {

}

/*- Main navigation ----------------------------------------------------------------*/
#MainNav {

}

/*- Body ------------------------------------------------------------------*/
#Body {
	.Editable();
}

/*- Content ------------------------------------------------------------------*/
#Content {
	.Editable();
}

/*- Lateral column -----------------------------------------------------------*/
#LateralCol {

}

/*- Footer -------------------------------------------------------------------*/
#Footer {
	
}





/*- Form -------------------------------------------------------------------*/
.placeholder()                   { font-style:italic; color:@black + 128; }
input.Placeholder                { .placeholder(); }
input::-webkit-input-placeholder { .placeholder(); }
input:-moz-placeholder           { .placeholder(); }

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="url"], input[type="search"], textarea {
	// if ios support, play with this
	// -webkit-appearance:none; .rounded(0);
	-webkit-appearance:textfield;  
}

input.error, select.error, textarea.error {
	color:@errorTextColor;
	background-color:@errorBgColor;
}


// radio/checkbox images for css3 browsers 
/*
:root {
	input[type="checkbox"], input[type="radio"] {
		position:absolute;
		clip:rect(1px, 1px, 1px, 1px);
	
		+ label {
			position:relative;
			padding-left:22px;
			cursor:pointer;
			
			&:before {
				content:'';
				position:absolute;
				top:0; left:0;
				width:15px; height:15px;
				background-image:@imgMultiIco; background-repeat:no-repeat;
			}
		}
		
		&:focus + label:before {
			outline:1px dotted @black;
		}
	}
	
	input[type="checkbox"] {
		+ label:before {
			background-position:@imgMultiIcoPosCheckOff;
		}
		&:checked + label:before {
			background-position:@imgMultiIcoPosCheckOn;
		}
	}

	input[type="radio"] {
		+ label:before {
			background-position:@imgMultiIcoPosRadioOff;
		}
		&:checked + label:before {
			background-position:@imgMultiIcoPosRadioOn;
		}
	}
}
*/




/*- Drupal clogs -------------------------------------------------------------------*/
.contextual-links-wrapper {
	.block-views > & {
		right:-35px;
	}
}