//-------------------------------------
//-- Form - Base
//-------------------------------------

//-- Placeholder
input::placeholder {
	color: $form-input-placeholder-color;
	font-style: italic;
}


//-- Textfields
#{$nwayo-textfields-selector}, textarea, select {
	/* ... */
}

textarea, textarea[rows] {
	/* ... */
}


/*
//-- Reset select
@include nwayo-select-reset-styles() {
	background-image: none;
}

select {
	appearance: none;
	box-sizing: border-box;
	border-radius: common-radius(select);
}
*/


/*
//-- File upload
input[type='file'] {
	@include nwayo-input-file-button-styles() {
		//@include common-button-styles();
		margin: 0;
	}

	//
	height: auto;
}
*/


/*
//-- Radio / Checkbox
$form-choice-input-size: 1.125em;
$form-choice-input-selection-size: .5em;
$form-choice-input-position-size: ($form-choice-input-size - $form-choice-input-selection-size) / 2;
$form-choice-input-margin-size: .625em;

input[type='checkbox'], input[type='radio'] {
	position: absolute;
	clip: rect(.0625em, .0625em, .0625em, .0625em);

	&:checked + label {
		&::after, &:hover::after {
			content: '';
			position: absolute;
			top: 50%;
			left: $form-choice-input-position-size;
			display: block;
			width: $form-choice-input-selection-size;
			height: $form-choice-input-selection-size;
			border-radius: common-radius(checkbox);
			margin-top: .0625em - ($form-choice-input-selection-size / 2);
			background-color: $common-text-color;
		}
	}

	&:focus + label::before {
		outline: common-border(1, dotted, $common-text-color);
	}

	+ label {
		position: relative;
		padding-left: $form-choice-input-size + $form-choice-input-margin-size;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			display: block;
			width: $form-choice-input-size;
			height: $form-choice-input-size;
			border: common-border(1, solid, $common-text-color);
			border-radius: common-radius(checkbox);
			margin-top: .0625em - ($form-choice-input-size / 2);
		}
	}
}

input[type='radio'] + label {
	&::before, &::after {
		border-radius: common-radius(radio);
	}
}
*/
