//-------------------------------------
//-- Editor
//-------------------------------------

html {
	//
}
body {
	width: 960px;
	font-family: $text-font;
	font-size: 16px;
	line-height: 1.3;
}
a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

