@import 'dependencies/nwayo/mixins';

$build-path:      '/build/common';
$img-path:        $build-path+'/images';
$font-path:       $build-path+'/fonts';
$embedImage-path: '.tmp-nwayo/common/inline-images';
$embedFont-path:  'common/assets/fonts';

//$embedfallback-path: $build-path+'/imgdata';


/*- Palette & colors -------------------------------------------------------------------*/
$grey-palette:  #ccc;
$red-palette:   #c00;
$green-palette: #0c0;
$blue-palette:  #00c;

$bg-color:        $grey-palette;
$text-color:      darken($bg-color, 30%);

$link-color:      $blue-palette;
$linkHover-color: lighten($link-color, 10%);

$alt-color:       $green-palette;
$altFaded-color:  spin( lighten( desaturate( $alt-color, 39.5%), 26.2%), 17.8);  // #75dd94

$errorText-color: $red-palette;
$errorBg-color:   lighten($errorText-color, 20%);




/*- Fonts ------------------------------------------------------------------*/
$text-font: sans-serif;
$alt-font:  'kreon', $text-font;
	$altLite-weight: 300;

@include loadFont('kreon',   'kreon-regular-webfont');
@include loadFont('kreon',   'kreon-light-webfont',  $altLite-weight);
@include loadFont('kreon',   'kreon-bold-webfont',   bold);
@include loadFont('icomoon', 'icomoon');



%ico-font { font-family:'icomoon'; font-style:normal !important; font-weight:normal !important; font-variant:normal !important; text-transform:none !important; line-height:1 !important; -webkit-font-smoothing:antialiased !important; }
	$icoMusic-char:    'm';
	$icoSettings-char: 's';
	$icoWarning-char:  'w';




/*- Images & Sprites -------------------------------------------------------*/

// normal image
%misc-image { @include bgImage($img-path+'/misc.png', (width:111px, color:red) ); }

// // svg image with png fallback for ie8
// ._miscVector-image { .svg('@{img-path}/misc-vector.svg', 100px, 100px); background-repeat:no-repeat; background-position:left top; }
// 
// // high-density images
// ._miscHD-image { background-image:url('@{img-path}/misc-hd.png'); 
// 	@media @highdensity-media { background-image:url('@{img-path}/misc-hd@2x.png'); background-size:100px 100px; }
// }
// 
// // sprite
// @multiple-image: url('@{img-path}/sprite.png');
// 	._multipleItem1-sprite { width:24px; height:24px; background:transparent @multiple-image left    top no-repeat; }
// 	._multipleItem2-sprite { width:32px; height:32px; background:transparent @multiple-image left -100px no-repeat; }

// image as data-uri
%miscInline-image { @include bgImage($embedImage-path+'/ico-x.png', (type:inline)); }

// // svg as data-uri with png fallback for ie8
// ._icoY-imagedata { .svg_datauri('@{imgdata-path}/ico_y.svg'); width:32px; height:32px; background-position:left top; background-repeat:no-repeat; }

/**/

	



// /*- Functions --------------------------------------------------------------*/
// .transition(@duration:0.2s, @ease:ease-out) {
//   -webkit-transition: all @duration @ease, z-index 1ms;
//   -moz-transition: all @duration @ease, z-index 1ms;
//   -o-transition: all @duration @ease, z-index 1ms;
//   transition: all @duration @ease, z-index 1ms;
// }
// ._hover-transition     { .transition(100ms); }
// ._animation-transition { .transition(500ms); }
// 
// .Something() {
// }
// 
// .Colorize(@base:#888, @lite:#ddd, @dark:#333) {
// 	._colorize(default, ~"",               ~"",       @base,   @lite,   @dark);
// 	._colorize(alpha,   ~".section-alpha", ~".Alpha", #880000, #dd0000, #330000);
// 	._colorize(beta,    ~".section-beta",  ~".Beta",  #008800, #00dd00, #003300);
// 	._colorize(gamma,   ~".section-gamma", ~".Gamma", #000088, #0000dd, #000033);
// }
// 
// 
// 
// /*- Editable content styles ------------------------------------------------*/
// .Editable() {
// 	h1 { }
// 	h2 { }
// 	h3 { }
// 	h4 { }
// 	h5 { }
// 	h6 { }
// 
// 	.Small { font-size:0.8em; }
// 
// 	p { margin-bottom:1em; }
// 	ul { }
// 	ol { }
// 
// 	table.Table {
// 		td { vertical-align:top; }
// 	}
// }