//-- Misc

// powerTip
#powerTip { display:none; position:absolute; z-index:2147483647; }

// skype reset
span.skype_pnh_container { display:none !important; }
span.skype_pnh_print_container { display:inline !important; }



/* --------------------------------

// @if cms="drupal"
//-- Drupal clogs
.contextual-links-wrapper {
	.block-views > & {
		right:-35px;
	}
}
// @endif

*/
