//-------------------------------------
//-- Form controls 
//-------------------------------------

//-- Placeholder
@include placeholder-mixin { font-style:italic; color:lighten($black, 50%); }


//-- Textfields
#{$textfields-selector}, textarea {
	//-webkit-appearance:none; border-radius:0; // reset
	//-webkit-appearance:textfield;             // force textfield
}


//-- Reset select
//select { border-radius:0; appearance:none; box-sizing:border-box; 
//	&::-ms-expand { display:none; } 
//}
//
//@include selectReset-mixin { padding-right:10px !important; background-image:none !important; }


//-- Radio / Checkbox
/*
input[type="checkbox"], input[type="radio"] { position:absolute; clip:rect(1px, 1px, 1px, 1px);
	+ label { position:relative; padding-left:22px; cursor:pointer;
		&:before { content:''; position:absolute; top:0; left:0; width:15px; height:15px; background-image:$ico-image; background-repeat:no-repeat; }
	}
	&:focus + label:before { outline:1px dotted $black; }
}

input[type="checkbox"] {
	+ label:before { background-position:$icoCheckOff-sprite; }
	&:checked + label:before { background-position:$icoCheckOn-sprite; }
}

input[type="radio"] {
	+ label:before { background-position:$icoRadioOff-sprite; }
	&:checked + label:before { background-position:$icoRadioOn-sprite; }
}
*/
