//-------------------------------------
//-- Site layout
//-------------------------------------

//-- Base
html { background-color:$bg-color; }
body { font-family:$text-font; font-size:16px; color:$text-color; line-height:1.3; -webkit-font-smoothing:antialiased; text-rendering:optimizeLegibility; }
a { @extend %hover-transition; color:$link-color; text-decoration:none;
	&:hover { color:$linkHover-color; text-decoration:underline; }
}
@include selection-mixin { color:$white; background-color:$black; }




//-- Header
.Header { /* ... */ }


//-- Fixed navigation
.FixedNav { /* ... */ }


//-- Main navigation
.MainNav { /* ... */ }


//-- Body
.Body {


	//-------------------------------------
	//-- Patterns
	//-------------------------------------


	//-- Modernizr exceptions
	//html.no-svg & { }
	//html.no-gradient & { }


	//-- Foundation media exceptions
	//@media #{$medium-up} { }


	//-- Colorscheme
	//.Blocks {
	//	@each $id, $data in $section-colorscheme {
	//		$body:  map-get($data, body);
	//		$class: map-get($data, class);
	//		$base:  map-get($data, base);
	//		$lite:  map-get($data, lite);
	//		$dark:  map-get($data, dark);
	//
	//		body#{$body} & { background-color:$lite; }
	//		&#{$class}     { color:$base; background-color:$dark; }
	//
	//		@if $id == beta {
	//			&::before { content:'BETA'; }
	//		}
	//	}
	//}
	


	// ----------------------------





	#logo   { @extend %miscInline-image; transform:rotateY(180deg); }
	#icon   { @extend %iconInline-image; }
	#misc   { @extend %misc-image; }
	#logo2  { @extend %logo-image; }
	#miscHD { @extend %miscHD-image; }

	.fLite { font-family:$alt-font; font-weight:$altLite-weight; }
	.fNorm { font-family:$alt-font; }
	.fBold { font-family:$alt-font; font-weight:bold; }

	.iMusic::before    { @extend %ico-font; content:$icoMusic-char; }
	.iSettings::before { @extend %ico-font; content:$icoSettings-char; }
	.iWarning::before  { @extend %ico-font; content:$icoWarning-char; }

	.Blocks {
		@each $id, $data in $section-colorscheme {
			$body:  map-get($data, body);
			$class: map-get($data, class);
			$base:  map-get($data, base);
			$lite:  map-get($data, lite);
			$dark:  map-get($data, dark);

			body#{$body} & { background-color:$lite; }
			&#{$class}     { color:$base; background-color:$dark; }

			@if $id == beta {
				&::before { content:'BBB'; }
			}
		}
	}





}

//-- Content
.Content { @extend %editable-styles;
	/* ... */
}


//-- Lateral column
.LateralCol { /* ... */ }


//-- Footer
.Footer { /* ... */ }
