body { -webkit-font-smoothing:antialiased; text-rendering:optimizeLegibility; background-color:$bg-color; }


#logo { @extend %misc-inline-image; }
#misc { @extend %misc-image; }

.fLite { font-family:$alt-font; font-weight:$alt-lite-weight; }
.fNorm { font-family:$alt-font; }
.fBold { font-family:$alt-font; font-weight:bold; }

.iMusic:before    { content:$ico-music-char;    @extend %ico-font; }
.iSettings:before { content:$ico-settings-char; @extend %ico-font; }
.iWarning:before  { content:$ico-warning-char;  @extend %ico-font; }
