/*------------------------------------------------------------------------------------//
// CORE
//------------------------------------------------------------------------------------*/

/*- Base ---------------------------------------------------------------------*/
html {
	background-color:@bgColor;
}
body {
	width:@siteWidth;
	.textFont(); font-size:16px; color:@textColor; line-height:1.3;

	/** inline image
	&:extend(._bgImagedata);
	**/

	/**
	@media @mobileMedia {
		background: green;
	}
	/**/
}
a {
	color:@linkColor; text-decoration:none;
	.transition(0.05s);

	&:hover {
		text-decoration:underline;
	}
}
 

._selection () { 
	color:@white; background-color:@black;
}
.selection();


// .gradient();
// html.no-gradient & { }




/*- Header -------------------------------------------------------------------*/
#Header {

}

/*- Fixed navigation --------------------------------------------------------*/
#FixedNav {

}

/*- Main navigation ----------------------------------------------------------------*/
#MainNav {
	
}

/*- Body ------------------------------------------------------------------*/
#Body {

}

/*- Content ------------------------------------------------------------------*/
#Content {
	.Editable();
}

/*- Lateral column -----------------------------------------------------------*/
#LateralCol {

}

/*- Footer -------------------------------------------------------------------*/
#Footer {
	
}





/*- Drupal clogs -------------------------------------------------------------------*/
/**
.contextual-links-wrapper {
	.block-views > & {
		right:-35px;
	}
}
/**/