//-------------------------------------
//-- Drupal
//-------------------------------------

//-- Show clogs
.contextual-links-wrapper, .contextual-links-trigger {
	display: block;

	a {
		transition: none;
	}
}

.contextual-links-wrapper {
	.block-views > & {
		right: -2.1875em;
	}
}

//-- Make video player display with the flow
.mejs-video {
	display: inline-block;
}

