//-------------------------------------
//-- Common styles
//-------------------------------------

//-- Headings
%title-styles { /* ... */ }
%subtitle-styles { /* ... */ }



//-- Editable content styles
%editable-styles {
	h1 { @extend %title-styles; }
	h2 { @extend %subtitle-styles; }
	h3 { /* ... */ }
	h4 { /* ... */ }
	h5 { /* ... */ }
	h6 { /* ... */ }

	.small { font-size: .8em; }

	p { margin-bottom: 1em; }
	ul { /* ... */ }
	ol { /* ... */ }

	table.table {
		td { vertical-align: top; }
	}
}



//-- Misc

// powerTip
#{'#powerTip'} { display: none; position: absolute; z-index: 2147483647; }

// skype reset
#{'span.skype_pnh_container'} { display: none !important; }
#{'span.skype_pnh_print_container'} { display: inline !important; }

// @if cms="drupal"
//-- Drupal clogs
/*
.contextual-links-wrapper {
	.block-views > & { right:-35px; }
}
*/
// @endif

