//-------------------------------------
//-- Configuration settings
//-------------------------------------

//-- Webroot build path
$build-path: '/nwayo/build';

//-- nwayo util
@import 'components/nwayo/styles/util';


//-- Palette & colors
$grey-palette:  #cccccc;
$red-palette:   #cc0000;
$green-palette: #00cc00;
$blue-palette:  #0000cc;

$bg-color:   $grey-palette;
$text-color: darken($bg-color, 30%);

$link-color:      $blue-palette;
$link-hover-color: lighten($link-color, 10%);

$alt-color:      $green-palette;
$alt-faded-color: spin(lighten(desaturate($alt-color, 39.5%), 26.2%), 17.8);  // #75dd94

$error-text-color: $red-palette;
$error-bg-color:   lighten($error-text-color, 20%);

$section-colorscheme: (
	default: (body:'',               class:'',       base:#888888, lite:#dddddd, dark:#333333),
	alpha:   (body:'.section-alpha', class:'.Alpha', base:#880000, lite:#dd0000, dark:#330000),
	beta:    (body:'.section-beta',  class:'.Beta',  base:#008800, lite:#00dd00, dark:#003300),
	gamma:   (body:'.section-gamma', class:'.Gamma', base:#000088, lite:#0000dd, dark:#000033),
);



//-- Fonts
$text-font: sans-serif;
$alt-font:  'kreon', $text-font;
$alt-lite-weight: 300;

@include load-font-mixin('kreon', 'kreon-regular-webfont', 'common');
@include load-font-mixin('kreon', 'kreon-light-webfont', 'common', $alt-lite-weight);
@include load-font-mixin('kreon', 'kreon-bold-webfont', 'common', bold);
@include load-font-mixin('icomoon', 'icomoon', 'common');


%ico-font { font-family: 'icomoon'; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; line-height: 1 !important; -webkit-font-smoothing: antialiased !important; }
$ico-music-char:    'm';
$ico-settings-char: 's';
$ico-warning-char:  'w';




//-- Images

// Normal
%misc-image { @include bg-image-mixin('misc.png', 'common', (width:111px, color:#ff0000)); }
%logo-image { @include bg-image-mixin('logo.png', 'qwertyuio', (height:96px, color:#00ff00)); }

// High-density
%misc-hd-image { @include bg-image-mixin('hd@2x.png', 'common'); }

// Inline
%misc-inline-image { @include bg-image-mixin('ico-x.png', 'common', (inline:true)); }
%icon-inline-image { @include bg-image-mixin('icon.png', 'qwertyuio', (inline:true)); }





//-- Placeholders
%hover-transition     { transition: all 100ms ease-out, z-index 1ms; }
%animation-transition { transition: all 500ms ease-out, z-index 1ms; }


