//-------------------------------------
//-- Form
//-------------------------------------

//-- Placeholder
@include placeholder-mixin {
	color: lighten($black, 50%);
	font-style: italic;
}


//-- Textfields
#{$textfields-selector}, textarea, select {
	//border-radius: 0;
	line-height: 1;
	//appearance: none;
}
textarea, textarea[rows] {
	//
}


//-- Reset select
/**
@include select-reset-mixin {
	background-image: none;
}
select {
	box-sizing: border-box;
	border-radius: 0;
	appearance: none;
}
/**/


//-- File upload
/**
input[type="file"] {
	//@include form-element;
	height: auto;

	@include input-file-button-mixin {
		//@include button();
		margin: 0;
	}
}
/**/


//-- Radio / Checkbox
/**
input[type="checkbox"], input[type="radio"] {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);

	+ label {
		position: relative;
		padding-left: 26px;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 18px;
			height: 18px;
			border: 1px solid $black;
		}
	}
	&:checked + label::after {
		content: '';
		position: absolute;
		top: 5px;
		left: 5px;
		display: block;
		width: 8px;
		height: 8px;
		background-color: $black;
	}

	&:focus + label::before {
		outline: 1px dotted $black;
	}
}

input[type="radio"] + label {
	&::before, &::after {
		border-radius: 50%;
	}
}
/**/
