//-------------------------------------
//-- Util
//-------------------------------------

a[href="#TODO"] {
	color: #ff0000 !important;
	font-weight: bold !important;
	text-decoration: underline !important;
}


// powerTip
//#{'#powerTip'} {
//	position: absolute;
//	z-index: 2147483647;
//	display: none;
//}
