//-------------------------------------
//-- Util
//-------------------------------------

a[href="#TODO"] {
	$todopatch-color: #ee2c2c;
	color: $todopatch-color !important;
	font-weight: $font-bold-weight !important;
	text-decoration: underline !important;
}


// powerTip
//#{'#powerTip'} {
//	position: absolute;
//	z-index: 2147483647;
//	display: none;
//}
