//-------------------------------------
//-- Site layout
//-------------------------------------

//-- Base
html { background-color:$bg-color; }
body { color:$text-color; font-family:$text-font; font-size:16px; text-rendering:optimizeLegibility; line-height:1.3; -webkit-font-smoothing:antialiased; }
a { @extend %hover-transition; color:$link-color; text-decoration:none;
	&:hover { color:$link-hover-color; text-decoration:underline; }
}
@include selection-mixin { background-color:$black; color:$white; }





//-- Header
.header { /* ... */ }


//-- Fixed navigation
.fixed-nav { /* ... */ }


//-- Main navigation
.main-nav { /* ... */ }


//-- Body
.body {


	//-------------------------------------
	//-- Patterns
	//-------------------------------------


	//-- Modernizr exceptions
	//html.no-svg & { }
	//html.no-gradient & { }


	//-- Foundation media exceptions
	//@media #{$medium-up} { }


	//-- Colorscheme
	//.blocks {
	//	@each $id, $data in $section-colorscheme {
	//		$body:  map-get($data, body);
	//		$class: map-get($data, class);
	//		$base:  map-get($data, base);
	//		$lite:  map-get($data, lite);
	//		$dark:  map-get($data, dark);
	//
	//		body#{$body} & { background-color:$lite; }
	//		&#{$class}     { color:$base; background-color:$dark; }
	//
	//		@if $id == beta {
	//			&::before { content:'BETA'; }
	//		}
	//	}
	//}



	// ----------------------------


}

//-- Content
.content { @extend %editable-styles;
	/* ... */
}


//-- Lateral column
.lateral-col { /* ... */ }


//-- Footer
.footer { /* ... */ }
