//-------------------------------------
//-- Docs - Main
//-------------------------------------

//-- Get nwayo toolbox
@import '../../toolbox/styles/config';

//-- Get doc config
@import 'styles/config';

//-- Get Foundation
@import 'bower_components/foundation-sites/scss/util/util';
@import '../../nwayo-core/packages/grow-project/boilerplate/components/foundation/styles/config/functions';
@import 'styles/foundation-settings';
@import 'bower_components/foundation-sites/scss/foundation';

@include foundation-global-styles();
@include foundation-typography();

//-- Prism
@import 'styles/vendor/prism-tomorrow';

//-- Go to town
@import 'styles/base';
