/*------------------------------------------------------------------------------------//
// COMMON
//------------------------------------------------------------------------------------*/
@import 'libs/elements';
@import 'libs//* @echo package */-mixins';
// @echo css_common


// @echo space
@build-path:           '/* @echo build */';
@img-path:             '@{build-path}/images';
@font-path:            '@{build-path}/raw/fonts';
@imgdata-path:         '../.tmp-/* @echo package *//data-uri';
@imgdatafallback-path: '@{build-path}/imgdata';



/*- Palette & colors -------------------------------------------------------------------*/
@grey-palette:  #ccc;
@red-palette:   #c00;
@green-palette: #0c0;
@blue-palette:  #00c;

@bg-color:        @grey-palette;
@text-color:      darken(@bg-color, 30%);

@link-color:      @blue-palette;
@linkHover-color: lighten(@link-color ,10%);

@alt-color:       @green-palette;
@altFaded-color:  spin( lighten( saturate( @alt-color, -39.5%), 26.2%), 17.8);  // #75dd94

@errorText-color: @red-palette;
@errorBg-color:   lighten(@errorText-color, 20%);




/*- Fonts ------------------------------------------------------------------*/
.LoadFont('Alternate',  'Alternate-webfont');
.LoadFont('Alternate2', 'Alternate2-webfont');
.LoadFont('icomoon',    'icomoon');

@text-font:  sans-serif;
.text-font() { font-family:@text-font; }
.alt-font()  { font-family:'Alternate', @text-font;  font-weight:normal !important; font-style:normal !important; -webkit-font-smoothing:antialiased !important; }
.alt2-font() { font-family:'Alternate2', @text-font; font-weight:normal !important; font-style:normal !important; -webkit-font-smoothing:antialiased !important; }

.ico-font() { font-family:'icomoon'; font-style:normal !important; font-weight:normal !important; font-variant:normal !important; text-transform:none !important; line-height:1 !important; -webkit-font-smoothing:antialiased !important; }
	.icoFacebook-char() { content:'f'; .ico-font(); }
	.icoTwitter-char()  { content:'t'; .ico-font(); }
	.icoLinkedin-char() { content:'l'; .ico-font(); }



/*- Images & Sprites -------------------------------------------------------*/

// normal image
._misc-image { background:transparent url('@{img-path}/misc.png') left top no-repeat; }

// svg image with png fallback for ie8
._miscVector-image { .svg('@{img-path}/misc-vector.svg', 100px, 100px); background-repeat:no-repeat; background-position:left top; }

// high-density images
._miscHD-image { background-image:url('@{img-path}/misc-hd.png'); 
	@media @highdensity-media { background-image:url('@{img-path}/misc-hd@2x.png'); background-size:100px 100px; }
}

// sprite
@multiple-image: url('@{img-path}/sprite.png');
	._multipleItem1-sprite { width:24px; height:24px; background:transparent @multiple-image left    top no-repeat; }
	._multipleItem2-sprite { width:32px; height:32px; background:transparent @multiple-image left -100px no-repeat; }

// image as data-uri
._icoX-imagedata { background:transparent data-uri('@{imgdata-path}/ico-x.png') left top no-repeat; }

// svg as data-uri with png fallback for ie8
._icoY-imagedata { .svg_datauri('@{imgdata-path}/ico_y.svg'); width:32px; height:32px; background-position:left top; background-repeat:no-repeat; }






/*- Functions --------------------------------------------------------------*/
.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease, z-index 1ms;
  -moz-transition: all @duration @ease, z-index 1ms;
  -o-transition: all @duration @ease, z-index 1ms;
  transition: all @duration @ease, z-index 1ms;
}
._hover-transition     { .transition(100ms); }
._animation-transition { .transition(500ms); }

.Something() {
}

.Colorize(@base:#888, @lite:#ddd, @dark:#333) {
	._colorize(default, ~"",               ~"",       @base,   @lite,   @dark);
	._colorize(alpha,   ~".section-alpha", ~".Alpha", #880000, #dd0000, #330000);
	._colorize(beta,    ~".section-beta",  ~".Beta",  #008800, #00dd00, #003300);
	._colorize(gamma,   ~".section-gamma", ~".Gamma", #000088, #0000dd, #000033);
}



/*- Editable content styles ------------------------------------------------*/
.Editable() {
	h1 { }
	h2 { }
	h3 { }
	h4 { }
	h5 { }
	h6 { }

	.Small { font-size:0.8em; }

	p { margin-bottom:1em; }
	ul { }
	ol { }

	table.Table {
		td { vertical-align:top; }
	}
}