/*------------------------------------------------------------------------------------//
// PRINT
//------------------------------------------------------------------------------------*/
@media print {

	#Body {
		width:100%;
	}

	ul {
		list-style:disc;
	}




	// Reset what hasn't been redefined
	* {
		// float:none !important;
		position:static !important; overflow:visible !important;
		border-color:@black !important;
		text-indent:0 !important;


		&:before, &:after {
			display:none !important;
		}
	}
}
