/*------------------------------------------------------------------------------------//
// VARIANTS
//------------------------------------------------------------------------------------*/

.Block {

	body.Home & {
		
	}

	/*
	exampleselector {
		._colorize(@id, @body, @class, @base, @lite, @dark) { 
			body@{body} & {
				a { color:mix(@lite,@base); }
			}
			&@{class} { background:darken(@dark,10%); }
		}
		._colorize(alpha, @body, @class, @base, @lite, @dark) { 
			body@{body} & {
				a { color:@dark; }
			}
		}
		.Colorize(@sectionBase-color, @sectionBase-color, @black);
	}
	*/
}



/*- Home -------------------------------------------------------------------*/
body.Home {


}



/*- Contact -------------------------------------------------------------------*/
body.Contact {

}