//-------------------------------------
//-- Layout
//-------------------------------------

//-- Base
html {
	//background-color: $bg-color;
}

body {
	//color: $text-color;
	font-family: $text-font;
	font-size: 16px;
	line-height: 1.3;
}

a:not(.button) {
	//color: $link-color;
	text-decoration: none;
	transition: color $hover-transition ease-out;

	&:hover, &:active, &:focus {
		//color: $link-hover-color;
		text-decoration: underline;
	}
}

::selection {
	background-color: $text-color;
	color: $bg-color;
}






//-- Header
.header {
	/* ... */
}


//-- Fixed navigation
.fixed-nav {
	/* ... */
}


//-- Main navigation
.main-nav {
	/* ... */
}



//-- Body
.body {

	//-- Foundation media exceptions
	@media #{bp(medium up)} {
		//
	}


	//-------------------------------------
	//-- Patterns
	//-------------------------------------


	//-- Modernizr exceptions
	//html.no-touchevents & { }


	//-- Colorscheme
	//.blocks {
	//	@each $id, $data in $section-colorscheme {
	//		$body:  map-get($data, body);
	//		$class: map-get($data, class);
	//		$base:  map-get($data, base);
	//		$lite:  map-get($data, lite);
	//		$dark:  map-get($data, dark);
	//
	//		body#{$body} & { background-color:$lite; }
	//		&#{$class}     { color:$base; background-color:$dark; }
	//
	//		@if $id == beta {
	//			&::before { content:'BETA'; }
	//		}
	//	}
	//}



	// ----------------------------


}

//-- Content
.content {
	@extend %editable-styles;
	/* ... */
}


//-- Lateral column
.lateral-col {
	/* ... */
}


//-- Footer
.footer {
	/* ... */
}

