//-------------------------------------
//-- Site - Print
//-------------------------------------

$site-print-color: konstan-get('color.black');

@media print {
	@page {
		margin: 1cm; // stylelint-disable-line unit-whitelist
	}

	.body {
		width: 100%;
	}

	ul {
		list-style: disc;
	}

	//-- Reset what hasn't been redefined
	// stylelint-disable selector-max-universal
	* {
		position: static !important;
		overflow: visible !important;
		border-color: $site-print-color !important;
		box-shadow: none !important;
		background: transparent !important;
		color: $site-print-color !important;
		text-indent: 0 !important;
		text-shadow: none !important;
		filter: none !important;

		&::before, &::after {
			display: none !important;
		}
		// stylelint-enable selector-max-universal
	}
}
