//-------------------------------------
//-- nwayo - Functions
//-------------------------------------

//-- Foundation's rem-calc asap
@import 'bower_components/foundation-sites/scss/util/unit';



//-- Assets path
@function nwayo-assets-path($file, $context, $type) {
	@if $type == 'images' {
		@return $konstan-path-images + '/' + $context + '/' + $file;
	} @else if $type == 'inline' {
		@return $konstan-path-inline + '/' + $context + '/' + $file;
	} @else if $type == 'fonts' {
		@return $konstan-path-fonts + '/' + $context + '/' + $file;
	}
}

//-- Build path
@function nwayo-build-path($file, $context, $type) {
	@if $type == 'images' {
		@return $konstan-path-buildroot + '/images/' + $context + '/' + $file;
	} @else if $type == 'fonts' {
		@return $konstan-path-buildroot + '/fonts/' + $context + '/' + $file;
	}
}






//-- String replace
@function nwayo-str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);
	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + nwayo-str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}
	@return $string;
}

//-- Color replace
@function nwayo-color-replace($string, $source, $target) {
	$string: nwayo-str-replace($string, nwayo-to-string($source), nwayo-to-string($target));
	$string: nwayo-str-replace($string, to-upper-case(nwayo-to-string($source)), nwayo-to-string($target));
	@return $string;
}

//-- Cast to string
@function nwayo-to-string($value) {
	@return inspect($value);
}

//-- Check if list contains value
//     @mixin xyz($options:()) {
//       $a: nwayo-list-contains($options, a);
//       $b: nwayo-list-contains($options, b);
//     }
@function nwayo-list-contains($list, $var) {
	@if (index($list, $var)) {
		@return true;
	}
	@return false;
}






//-- SVG optimized for data-uri (http://codepen.io/Tigt/blog/optimizing-svgs-in-data-uris)
@function nwayo-svg-data-uri($svg) {
	$encoded: '';
	$slice: 2000;
	$index: 0;
	$loops: ceil(str-length($svg) / $slice);
	@for $i from 1 through $loops {
		$chunk: str-slice($svg, $index, $index + $slice - 1);
		$chunk: nwayo-str-replace($chunk, '"', "'");
		$chunk: nwayo-str-replace($chunk, '<', '%3C');
		$chunk: nwayo-str-replace($chunk, '>', '%3E');
		$chunk: nwayo-str-replace($chunk, '&', '%26');
		$chunk: nwayo-str-replace($chunk, '#', '%23');
		$encoded: #{$encoded}#{$chunk};
		$index: $index + $slice;
	}
	@return url("data:image/svg+xml;charset=utf8,#{$encoded}");  // stylelint-disable-line string-quotes
}



//-- Get a relative z-index for the scope
@function nwayo-zindex($scopes, $scope, $delta:0) {
	@return map-get($scopes, $scope) + $delta;
}


//-- Simulate a breakpoint
@function nwayo-breakpoint-media($bp, $direction) {
	@if ($direction == up) {
		@return 'screen and (min-width: #{($bp + 1) / $nwayo-basic-size * 1em})';
	} @else if ($direction == down) {
		@return 'screen and (max-width: #{$bp / $nwayo-basic-size * 1em})';
	}
}


//-- Return cache invalidation query string
@function nwayo-cacheinvalidator-querystring($file) {
	@return '?v=' + nwayodart-checksum($file);
}
