//-------------------------------------
//-- nwayo - Variables
//-------------------------------------

// All rem / em sizes depend on this
$nwayo-basic-size: 16;


// SVG colors
$nwayo-svg-replacement-1-color: #ba0bab;
$nwayo-svg-replacement-2-color: #c0ffee;
$nwayo-svg-replacement-colors:  ($nwayo-svg-replacement-1-color, $nwayo-svg-replacement-2-color);

// Social network colors
$nwayo-social-colors: (
	facebook:   #3b5998,
	pinterest:  #bd081c,
	twitter:    #55acee,
	instagram:  #bc2a8d,
	youtube:    #cd201f,
	vimeo:      #1ab7ea,
	linkedin:   #0a77b6,
	googleplus: #dc4a38
);



// Font family
$nwayo-sansserif-font: Helvetica, Arial, Verdana, sans-serif;  // stylelint-disable-line value-keyword-case
$nwayo-serif-font:     'Times New Roman', Times, serif;        // stylelint-disable-line value-keyword-case

// Font weights
$nwayo-thin-weight:       100;
$nwayo-extralight-weight: 200;
$nwayo-light-weight:      300;
$nwayo-normal-weight:     400;
$nwayo-medium-weight:     500;
$nwayo-semibold-weight:   600;
$nwayo-bold-weight:       700;
$nwayo-extrabold-weight:  800;
$nwayo-black-weight:      900;



// Characters
$nwayo-bull-char:   '\2022';
$nwayo-times-char:  '\00D7';
$nwayo-endash-char: '\2013';



// All text-like fields
$nwayo-textfields-selector: 'input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="url"], input[type="search"], input[type="date"], input[type="number"]';

// Selectors
$nwayo-hover-selector:     'html.no-touchevents &:hover';
$nwayo-docloaded-selector: 'body.document-loaded';



// Debug colors
$debug-red:    #ee2c2c;
$debug-orange: #ffa500;
$debug-yellow: #ffdf33;
$debug-green:  #76ee00;
$debug-blue:   #1e90ff;
$debug-purple: #a020f0;
