/*------------------------------------------------------------------------------------//
// Client : -
// Date   : mois 0000
//------------------------------------------------------------------------------------*/

/*- Redéfinitions utiles pour l'impression -------------------------------------------*/

* {
	/* float:none !important; */
	position:static !important; overflow:visible !important;
	border-color:#000 !important;
	color:#000 !important; text-indent:0 !important;
	background:transparent none !important;
}

/*- Largeur du print maximal -*/
#Wrapper {
	width:100%;
}

/*- Liste à puce, si l'arrière-plan est utilisé -*/
#Contenu ul {
	list-style:disc;
}



/*------------------------------------------------------------------------------------*/