# <!-- @echo package --> v<!-- @echo version -->

<img <!-- @if !doc --> align="right"<!-- @endif--> src="<!-- @echo homepage -->/assets/logo-<!-- @echo package -->.png" width="160" height="256" alt="<!-- @echo package -->" />
### <!-- @echo package --> v<!-- @echo version -->
#### <!-- @echo description -->
> <!-- @echo definition -->


<!-- @if !doc -->
## Documentation
Visit the [<!-- @echo homepage -->](<!-- @echo homepage -->) website for all the things.
<!-- @endif-->

<!-- @if doc -->
## Sources
Visit the [Github repository](<!-- @echo repo -->) for all the things.
<!-- @endif-->

## Release history
See the [CHANGELOG](<!-- @echo repo_url -->/CHANGELOG.md).

## License 
See the [LICENSE](<!-- @echo repo_url -->/LICENSE.md).