//-------------------------------------
//-- Utils: Variables
//-------------------------------------

$transparent: transparent;
$black:       #000000;
$white:       #ffffff;

$debug-red:    #ee2c2c;
$debug-orange: #ffa500;
$debug-yellow: #ffdf33;
$debug-green:  #76ee00;
$debug-blue:   #1e90ff;
$debug-purple: #a020f0;

$textfields-selector: 'input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="url"], input[type="search"]';
