//-------------------------------------
//-- Utils: Mixins
//-------------------------------------

//-- Background image
@mixin bg-image-mixin ($file, $context, $inline:false, $width:false, $height:false) {
	$uri: if($inline, inline-image('.nwayo-cache/inline-images/' + $context + '/' + $file), url($build-path + '/images/' + $context + '/' + $file));

	// high density
	@if str-index($file, '@2x') {
		$path: 'components/' + $context + '/assets/'+ if($inline, 'inline-', '') + 'images/' + $file;
		$width:  if($width, $width, image-width($path));
		$height: if($height, $height, image-height($path));

		@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
			background-image: $uri;
			background-size: $width/2 $height/2;
		}
		$uri: strreplace($uri, '@2x', '');
	}

	background-image: #{$uri};
}


//-- Scalable icon
@mixin scalable-icon-mixin ($file, $context) {
	@include bg-image-mixin($file, $context, $inline:true);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}


//-- Font-face
@mixin load-font-mixin ($name, $filename, $context, $weight:normal, $style:normal) {
	$url:   $build-path + '/fonts/' + $context + '/' + $filename;
	$woff2: if(fileexists('components/' + $context + '/assets/fonts/' + $filename + '.woff2'), ',' + url($url+'.woff2') format('woff2'), '');
	@font-face {
		font-family: $name;
		src: url($url+'.eot');
		src: url($url+'.eot?#iefix') format('embedded-opentype')
		     #{$woff2},
		     url($url+'.woff'),
		     url($url+'.ttf') format('truetype');
		font-weight: $weight;
		font-style: $style;
	}
}


//-- Placeholder
@mixin placeholder-mixin () {
	select.placeholder { @content; }
	input.placeholder { @content; }
	input::placeholder { @content; }
}


//-- Select reset
@mixin select-reset-mixin() {
	@-moz-document url-prefix() { select { @content; } }
	html.lt-ie10 select { @content; }
}

//-- Input type file button
@mixin input-file-button-mixin() {
	&::-webkit-file-upload-button { @content; }
	//&::-ms-browse { @content; }
}


//-- Replace text
@mixin replace-text-mixin ($width: auto, $height:auto) {
	display: block;
	overflow: hidden;
	width: $width;
	height: $height;
	text-align: left;
	text-indent: 1000%;
	white-space: nowrap;
}



//-- Arrow
@mixin arrow-mixin ($direction:right, $size:10px, $color:$black) {
	display: inline-block;
	border: 0;

	@if $direction == up or $direction == down {
		height: $size;
		border-right: $size solid $transparent;
		border-left: $size solid $transparent;

		@if $direction == up {
			border-bottom: $size solid $color;
		} @else {
			border-top: $size solid $color;
		}

	} @else if $direction == left or $direction == right {
		width: $size;
		border-top: $size solid $transparent;
		border-bottom: $size solid $transparent;

		@if $direction == left {
			border-right: $size solid $color;
		} @else {
			border-left: $size solid $color;
		}
	}
}
