//-------------------------------------
//-- Utils: Variables
//-------------------------------------

$transparent: transparent;
$black:       #000000;
$white:       #ffffff;

$textfields-selector: 'input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="url"], input[type="search"]';
