//-------------------------------------
//-- Common - Config - Base
//-------------------------------------

//-- Foundation
$common-column-gutter-size: rem-calc(15);
$common-column-small-size:  rem-calc(290);
$common-max-width-size:     rem-calc($konstan-dimension-max);
