//-------------------------------------
//-- Common - Config - Design
//-------------------------------------

/* -- Quick reference --

	$konstan-color-black               #000000
	$konstan-color-white               #ffffff

	$konstan-color-logo-shell          #659d32
	$konstan-color-logo-shell-shade    #618931
	$konstan-color-logo-fruit          #423228
	$konstan-color-logo-fruit-shade    #5e483c

	$konstan-color-charcoal            #36454f
	$konstan-color-nickel              #727472
	$konstan-color-battleship          #848482
	$konstan-color-ash                 #b2beb5
	$konstan-color-platinum            #e5e4e2

	$konstan-color-success             #4fb980
	$konstan-color-warning             #ffd061
	$konstan-color-error               #d66161

	$konstan-font-base                 Open Sans
	$konstan-font-alt                  Merriweather

*/


//-- Foundation
$common-column-gutter-size: rem-calc(15);
$common-column-small-size:  rem-calc(290);
$common-max-width-size:     rem-calc($konstan-dimension-max);



//-- Colors
$common-base-color:            $konstan-color-charcoal;
$common-primary-color:         $konstan-color-logo-shell;
$common-alt-color:             $konstan-color-nickel;
$common-bg-color:              $konstan-color-white;
$common-bg-site-color:         $konstan-color-platinum;
$common-bg-var1-color:         $konstan-color-ash;
$common-bg-var2-color:         $konstan-color-ash;

$common-text-color:            $common-base-color;
$common-text-var1-color:       $konstan-color-battleship;
$common-text-var2-color:       $konstan-color-black;

$common-border-color:          $konstan-color-nickel;
$common-border-alt-color:      $konstan-color-ash;

$common-link-color:            $common-primary-color;
$common-link-hover-color:      $konstan-color-logo-shell-shade;

$common-shadow-color:          $konstan-color-charcoal;
$common-overlay-color:         rgba($konstan-color-charcoal, .7);

$common-success-text-color:    $konstan-color-success;
$common-warning-text-color:    $konstan-color-warning;
$common-error-text-color:      $konstan-color-error;



//-- Fonts
$common-text-font:            $konstan-font-base, $nwayo-sansserif-font;
$common-title-font:           $konstan-font-alt, $nwayo-sansserif-font;
$common-monospace-font:       Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', Courier, monospace;  // stylelint-disable-line value-keyword-case

$common-text-slimmest-weight: $nwayo-thin-weight;
$common-text-slimmer-weight:  $nwayo-extralight-weight;
$common-text-slim-weight:     $nwayo-light-weight;
$common-text-base-weight:     $nwayo-normal-weight;
$common-text-fat-weight:      $nwayo-bold-weight;
$common-text-fatter-weight:   $nwayo-extrabold-weight;
$common-text-fattest-weight:  $nwayo-black-weight;

$common-text-nano-size:       rem-calc(10);
$common-text-micro-size:      rem-calc(11);
$common-text-tiny-size:       rem-calc(12);
$common-text-small-size:      rem-calc(14);
$common-text-base-size:       rem-calc($nwayo-basic-size);
$common-text-medium-size:     rem-calc(18);
$common-title-size:           rem-calc(24);
$common-title-big-size:       rem-calc(30);
$common-title-bigger-size:    rem-calc(36);
$common-title-biggest-size:   rem-calc(42);
$common-title-mega-size:      rem-calc(50);
$common-title-ultra-size:     rem-calc(60);

$common-text-lineheight:      1.3;
$common-title-lineheight:     1.15;
$common-content-lineheight:   1.5;



//-- Buttons
$common-button-bg-color:                        $konstan-color-logo-fruit;
$common-button-bg-hover-color:                  $konstan-color-logo-fruit-shade;
$common-button-bg-disabled-color:               $konstan-color-platinum;
$common-button-text-color:                      $konstan-color-white;
$common-button-text-hover-color:                $konstan-color-white;
$common-button-text-disabled-color:             $konstan-color-ash;
$common-button-border-color:                    $konstan-color-logo-fruit;
$common-button-border-hover-color:              $konstan-color-logo-fruit-shade;
$common-button-border-disabled-color:           $konstan-color-platinum;

$common-button-secondary-bg-color:              $konstan-color-white;
$common-button-secondary-bg-hover-color:        $konstan-color-white;
$common-button-secondary-bg-disabled-color:     $konstan-color-white;
$common-button-secondary-text-color:            $konstan-color-logo-fruit;
$common-button-secondary-text-hover-color:      $konstan-color-logo-fruit-shade;
$common-button-secondary-text-disabled-color:   $konstan-color-ash;
$common-button-secondary-border-color:          $konstan-color-logo-fruit;
$common-button-secondary-border-hover-color:    $konstan-color-logo-fruit-shade;
$common-button-secondary-border-disabled-color: $konstan-color-platinum;

$common-button-cta-bg-color:                    $konstan-color-logo-shell;
$common-button-cta-bg-hover-color:              $konstan-color-logo-shell-shade;
$common-button-cta-bg-disabled-color:           lighten(desaturate($konstan-color-logo-shell-shade, 30%), 30%);
$common-button-cta-text-color:                  $konstan-color-white;
$common-button-cta-text-hover-color:            $konstan-color-white;
$common-button-cta-text-disabled-color:         $konstan-color-platinum;
$common-button-cta-border-color:                $konstan-color-logo-shell;
$common-button-cta-border-hover-color:          $konstan-color-logo-shell-shade;
$common-button-cta-border-disabled-color:       lighten(desaturate($konstan-color-logo-shell-shade, 30%), 30%);



//-- Images
@mixin common-success-image {
	@include nwayo-scalable-icon-styles('success.svg', 'common', $color:$common-text-var2-color);
}

@mixin common-warning-image {
	@include nwayo-scalable-icon-styles('warning.svg', 'common', $color:$common-text-var2-color);
}

@mixin common-error-image {
	@include nwayo-scalable-icon-styles('error.svg',   'common', $color:$common-text-var2-color);
}




//-- Transitions
$common-hover-transition:     $konstan-transition-hover * 1ms;
$common-animation-transition: $konstan-transition-animation * 1ms;






//-- Special bp
$common-xsmall-down-media: 'only screen and (max-width: #{rem-calc($konstan-dimension-xsmall)})';
