//-------------------------------------
//-- Common - Config - Mixins
//-------------------------------------

//-- Button
@mixin common-button-styles($type:false, $size:false, $action:false) {
	$padding:          .75em 1.5em;
	$border-color:     $common-button-border-color;
	$background-color: $common-button-bg-color;
	$color:            $common-button-text-color;
	$font-size:        $common-text-small-size;

	@if $type == secondary {
		$border-color:     $common-button-secondary-border-color;
		$background-color: $common-button-secondary-bg-color;
		$color:            $common-button-secondary-text-color;
	} @else if $type == cta {
		$border-color:     $common-button-cta-border-color;
		$background-color: $common-button-cta-bg-color;
		$color:            $common-button-cta-text-color;
	}

	@if $size == icon {
		$padding:   .75em;
		$font-size: $common-text-small-size;
	} @else if $size == large {
		$padding:   .75em 1em;
		$font-size: $common-text-medium-size;
	} @else if $size == small {
		$padding:   .5em .75em;
		$font-size: $common-text-micro-size;
	}

	//
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	padding: $padding;
	border: common-border($width:2, $color:$border-color);
	border-radius: common-radius(button);
	margin: 0;
	background: $background-color;
	color: $color;
	font-family: $common-text-font;
	font-size: $font-size;
	font-weight: $common-text-base-weight;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.2;
	letter-spacing: .02em;
	transition-property: background-color, border-color, color;
	transition-duration: $common-hover-transition;
	transition-timing-function: ease-out;
	cursor: pointer;

	&:hover, &:focus, &:active {
		$hover-border-color:     $common-button-border-hover-color;
		$hover-background-color: $common-button-bg-hover-color;
		$hover-color:            $common-button-text-hover-color;

		@if $type == secondary {
			$hover-border-color:     $common-button-secondary-border-hover-color;
			$hover-background-color: $common-button-secondary-bg-hover-color;
			$hover-color:            $common-button-secondary-text-hover-color;
		} @else if $type == cta {
			$hover-border-color:     $common-button-cta-border-hover-color;
			$hover-background-color: $common-button-cta-bg-hover-color;
			$hover-color:            $common-button-cta-text-hover-color;
		}
		border-color: $hover-border-color;
		background-color: $hover-background-color;
		color: $hover-color;
		text-decoration: none;
	}

	&.disabled, &[disabled], fieldset[disabled] & {
		$disabled-border-color:     $common-button-border-disabled-color;
		$disabled-background-color: $common-button-bg-disabled-color;
		$disabled-color:            $common-button-text-disabled-color;

		@if $type == secondary {
			$disabled-border-color:     $common-button-secondary-border-disabled-color;
			$disabled-background-color: $common-button-secondary-bg-disabled-color;
			$disabled-color:            $common-button-secondary-text-disabled-color;
		} @else if $type == cta {
			$disabled-border-color:     $common-button-cta-border-disabled-color;
			$disabled-background-color: $common-button-cta-bg-disabled-color;
			$disabled-color:            $common-button-cta-text-disabled-color;
		}
		border-color: $disabled-border-color;
		background-color: $disabled-background-color;
		color: $disabled-color;
		text-decoration: none;
		cursor: not-allowed;
		pointer-events: none;
	}
}
