//-------------------------------------
//-- Common - Config - Variables
//-------------------------------------

//-- Colors
$common-base-color:    $konstan-color-grey;         // #333333
$common-primary-color: $konstan-color-brand-green;  // #659d32
$common-bg-color:      $konstan-color-white;
$common-bg-site-color: $konstan-color-grey4;        // #eeeeee

$common-text-color:      $common-base-color;
$common-text-lite-color: $konstan-color-grey2;  // #999999
$common-text-dark-color: $konstan-color-black;

$common-border-color:      $konstan-color-grey1;  // #666666
$common-border-lite-color: $konstan-color-grey3;  // #bbbbbb

$common-link-color:       $common-primary-color;
$common-link-hover-color: $konstan-color-brand-green-dark;  // #618931

$common-button-bg-color:       $konstan-color-brand-brown;       // #423228
$common-button-bg-hover-color: $konstan-color-brand-brown-lite;  // #5e483c
$common-button-text-color:     $konstan-color-white;

$common-accent-color: $konstan-current-color-accent;  // #ff0000 / #0000ff



//-- Fonts
$common-text-font:  $konstan-font-base, $nwayo-sansserif-font;
$common-title-font: $konstan-current-font-alt, $nwayo-sansserif-font;

$common-text-base-weight:    $nwayo-light-weight;
$common-text-fat-weight:     $nwayo-normal-weight;
$common-text-fatter-weight:  $nwayo-bold-weight;
$common-text-fattest-weight: $nwayo-extrabold-weight;

$common-tiny-text-size:     rem-calc(12);
$common-small-text-size:    rem-calc(14);
$common-base-text-size:     rem-calc($nwayo-basic-size);
$common-medium-text-size:   rem-calc(18);
$common-title-size:         rem-calc(24);
$common-big-title-size:     rem-calc(30);
$common-bigger-title-size:  rem-calc(36);
$common-biggest-title-size: rem-calc(42);
$common-mega-title-size:    rem-calc(50);
$common-ultra-title-size:   rem-calc(60);



//-- Transitions
$common-hover-transition:     $konstan-transition-hover * 1ms;
$common-animation-transition: $konstan-transition-animation * 1ms;
