/*------------------------------------------------------------------------------------//
// Client : -
//------------------------------------------------------------------------------------*/

@media print {
	




/*- Largeur du print maximal -*/
#Wrapper {
	width:100%;
}

/*- Liste à puce, si l'arrière-plan est utilisé -*/
#Contenu ul {
	list-style:disc;
}







/*- Reset ce qui n'a pas été redéfinit -*/
* {
	/* float:none !important; */
	position:static !important; overflow:visible !important;
	border-color:@black !important;
	color:@black !important; text-indent:0 !important;
	background:transparent none !important;
}


/*------------------------------------------------------------------------------------*/
}
