//-------------------------------------
//-- Layout
//-------------------------------------

//-- Base
html {
	//background-color: $common-bg-color;
}

body {
	//color: $common-text-color;
	font-family: $common-text-font;
	font-size: $common-base-text-size;
	line-height: 1.3;
}

a:not(.button) {
	//color: $common-link-color;
	text-decoration: none;
	transition: color $common-hover-transition ease-out;

	&:hover, &:active, &:focus {
		//color: $common-link-hover-color;
		text-decoration: underline;
	}
}

::selection {
	background-color: $common-text-color;
	color: $common-bg-color;
}






//-- Header
.header {
	/* ... */
}


//-- Fixed navigation
.fixed-nav {
	/* ... */
}


//-- Main navigation
.main-nav {
	/* ... */
}



//-- Body
.body {

	//-- Foundation media exceptions
	@media #{bp(small only)} {
		//
	}

	@media #{bp(medium)} {
		//
	}

	@media #{bp(medium down)} {
		//
	}

	@media #{bp(medium only)} {
		//
	}

	@media #{bp(large)} {
		//
	}

	@media #{bp(large down)} {
		//
	}

	@media #{bp(large only)} {
		//
	}



	//-- Only on touch devices
	html.touchevents & {
		//
	}

	//-- Only on mouse devices
	html.no-touchevents & {
		//
	}

	//-- Hover only on mouse devices :)
	a {
		#{$nwayo-hover-selector} {
			//
		}
	}

	//-- Apply only when document is loaded (great for heavy imagery)
	#{$nwayo-docloaded-selector} & {
		//
	}

}

//-- Content
.content {
	@include site-editable-styles;
	/* ... */
}


//-- Lateral column
.lateral-col {
	/* ... */
}


//-- Footer
.footer {
	/* ... */
}

