//-------------------------------------
//-- nwayo - Variables - Debug
//-------------------------------------
$red:    #ee2c2c;
$orange: #ffa500;
$yellow: #ffdf33;
$green:  #76ee00;
$blue:   #1e90ff;
$purple: #a020f0;
