@import       '../common';
@imgdataPath: '../_images';

html {
	background-color:@bgColor;
}
body {
	width:@siteWidth;
	.textFont(); font-size:16px; color:@textColor; line-height:1.3;
	.Editable();
}
a {
	color:@linkColor; text-decoration:none;

	&:hover {
		text-decoration:underline;
	}
}
